@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* NOTE: If you edit any of the custom animation delays below, you _MUST_
   * update Loading.tsx' Circle component logic accordingly!!!
   */
  .animation-delay-100 {
    animation-delay: 100ms;
  }
  .animation-delay-200 {
    animation-delay: 200ms;
  }
  .animation-delay-300 {
    animation-delay: 300ms;
  }
}
